{% load mongohelpers %}<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>
	<style type="text/css" media="screen">
		body {
			background: #d5d9e1;
			font-family: "Lucida Grande","Arial Unicode MS", sans-serif;
			color: #333;
			margin: 0;
			padding: 0;
			font-size: 16px;
		}
		
		h1, h2, h3, h4, h5 {
			color: #666;
		}
		
		#header {
			background: #3c3c3c;
			color: #666;
			padding: 10px;
		}
		
		#header h1 {
			font-size: 18px;
			margin: 0;
			padding: 0;
		}
		
		#content {
			padding: 10px 20px;
		}
		
		a {
			color: #666;			
		}

		#header a {
			text-decoration: none;
		}
		
		#sorting {
			text-align: center;
			font-size: 14px;
		}
		
		#sorting a {
			text-decoration: none;
		}

		#sorting a:hover {
			text-decoration: underline;
			color: #000;
		}
		
		table {
			font-size: 12px;
			margin-bottom: 20px;
		}
		
		table.firehose {
		    margin-bottom: 2px;
            padding-top: 4px;
            padding-bottom: 5px;
		}
		
		td.key {
			padding-right: 10px;
			font-weight: bold;
		}

		td.firehose {
			padding-top: 5px;
		}
				
		hr {
			margin: 8px auto;
			clear: both;
			border: none;
			border-top: 1px solid #bbb;
			font-size: 1px;
			line-height: 0;
			overflow: visible;
		}

		div.pagination {
			padding: 50px 50px 30px 50px;
			text-align: center;
			font-size: 18px;
		}

		div.pagination a, 
		div.pagination strong {
			padding: 5px 10px;
			border: 1px solid #ccc;
			text-decoration: none;
			line-height: 50px;
		}

		div.pagination a:hover {
			background: #fff;
			color: #333;
		}
		
		#footer {
			color: #666;
			font-size: 12px;
			text-align: center;
		}
		
		#footer a {
			color: #666;
			text-decoration: none;			
		}
	</style>
</head>
<body>
	<div id="header">
	{% block header %}		
	<h1>MongoBrowser</h1>
	{% endblock header %}		
	</div>
    <div id="messages">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}    
    </div>
    <div id="content">
    {% block content %}{% endblock content %}        
    </div>
	<div id="footer">
		<hr>
		<p><a href="https://bitbucket.org/Uninen/django-mongobrowser/">MongoBrowser v{% mongobrowser_version %}</a></p>
	</div>
    {% block jsfooter %}{% endblock jsfooter %}
</body>
</html>