{% extends "mongobrowser/base.html" %}
{% load mongohelpers smartpaginator %}

{% block title %}{{ db }}.{{ collection }} | MongoBrowser{% endblock title %}

{% block header %}
<h1><a href="../../">{{ host }}</a> &raquo; <a href="../">{{ db }}</a> . {{ collection }} &raquo;</h1>
{% endblock header %}

{% block content %}
{% if documents.paginator.count %}
	<h2>Documents {{ documents.start_index }}-{{ documents.end_index }} of {{ documents.paginator.count }}</h2>
	
	{% render_pagination request documents %}
	
	<div id="sorting">
		<p>sort by {% for k in keys %}
			{% ifequal k sort %}
			<strong>
				<a href="./?page={{ documents.number }}&amp;sort={{ k }}&amp;order={{ another_order }}">{{ k }} 
				{% ifequal order "desc" %}
				&uarr;{% else %}&darr;
				{% endifequal %}
				</a>
			</strong>
			{% else %}
			<a href="./?page={{ documents.number }}&amp;sort={{ k }}&amp;order={{ order }}">{{ k }}</a>
			{% endifequal %}
			{% if not forloop.last %}&middot; {% endif %}
		{% endfor %}</p>	
	</div>
	
	{% for document in documents.object_list %}
	<table border="0" cellspacing="2" cellpadding="3">
	    <tr>
	        <td colspan="2"><h3><a href="{{ document|objectid }}/">{{ document|objectid }}</a></h3></td>
	    </tr>
		{% include "mongobrowser/table_document_include.html" %}
	</table>
	    {% if not forloop.last %}
	    <hr>
	    {% endif %}
	{% endfor %}
	
	{% if allow_edits %}
    <hr>
	<p><a href="insert/">Create a document &rarr;</a></p>
	{% endif %}
	
	{% render_pagination request documents %}
{% else %}
	<h2>No documents.</h2>
{% endif %}
{% endblock content %}