{% extends "mongobrowser/base.html" %}

{% block title %}{{ db }} | MongoBrowser{% endblock title %}

{% block header %}
<h1><a href="../">{{ host }}</a> &raquo; {{ db }} &raquo;</h1>
{% endblock header %}

{% block content %}
<h2>Collections ({{ collections|length }})</h2>

<ul>
{% for collection, stats in collections %}
    <li><a href="{{ collection }}/">{{ collection }}</a> ({{ stats.count }} document{{ stats.count|pluralize }})</li>
{% endfor %}
</ul>
{% endblock content %}