{% extends "mongobrowser/base.html" %}

{% block title %}Edit #{{ document_id }} in {{ db }}.{{ collection }} | MongoBrowser{% endblock title %}

{% block header %}
<h1><a href="../../../">{{ host }}</a> &raquo; <a href="../../">{{ db }}</a> . <a href="../">{{ collection }}</a> &raquo; {{ document_id }}</h1>
{% endblock header %}

{% block content %}
<h2>Edit #{{ document_id }}</h2>

<form action="." method="post" accept-charset="utf-8">
	{% csrf_token %}
    <input type="hidden" name="edit" value="edit" id="edit">
	<textarea name="document" rows="8" cols="40">
	{{ document }}
	</textarea>
    <p><input type="submit" value=" Save modifications "></p>
</form>

{% endblock content %}