{% extends "mongobrowser/base.html" %}

{% block title %}Create document to {{ db }}.{{ collection }} | MongoBrowser{% endblock title %}

{% block header %}
<h1><a href="../../../">{{ host }}</a> &raquo; <a href="../../">{{ db }}</a> . <a href="../">{{ collection }}</a> &raquo;</h1>
{% endblock header %}

{% block content %}
<h2>Create document</h2>

<form action="." method="post" accept-charset="utf-8">
	{% csrf_token %}
    <input type="hidden" name="insert" value="edit" id="edit">
	<textarea name="document" rows="8" cols="40"></textarea>
    <p><input type="submit" value=" Create document "></p>
</form>
{% endblock content %}