{% extends "mongobrowser/base.html" %}

{% block title %}{{ document_id }} in {{ db }}.{{ collection }} | MongoBrowser{% endblock title %}

{% block header %}
<h1><a href="../../../">{{ host }}</a> &raquo; <a href="../../">{{ db }}</a> . <a href="../">{{ collection }}</a> &raquo; {{ document_id }}</h1>
{% endblock header %}

{% block content %}
<h2>{{ document_id }} (<a href="raw/">raw</a>)</h2>

<table border="0" cellspacing="2" cellpadding="3">
	{% include "mongobrowser/table_document_include.html" %}
</table>

{% if allow_edits %}
<form action="." method="post" accept-charset="utf-8">
	{% csrf_token %}
    <input type="hidden" name="delete" value="delete" id="delete">
    <p><input type="submit" value=" Delete this document " onclick="javascript: return confirm('Are You sure?');">
or <a href="edit/">Edit</a></p>
</form>
{% endif %}

{% endblock content %}