{% extends "mongobrowser/base.html" %}
{% load mongohelpers %}

{% block title %}Realtime view to {{ db }}.{{ collection }} | MongoBrowser{% endblock title %}

{% block header %}
<h1><a href="../../../">{{ host }}</a> &raquo; <a href="../../">{{ db }}</a> . <a href="../">{{ collection }}</a> &raquo; firehose &raquo; </h1>
{% endblock header %}

{% block content %}
{% if documents %}
	<h2>Realtime view to {{ db }}.{{ collection }} (25/<span id="count">{{ stats.count }}</span>, {{ docs_per_second|floatformat:"1" }} docs/s)</h2>
	
	<p>This page is refreshed automatically.</p>
	
	<div id="datatable">
    	{% include "mongobrowser/firehose_table.html" %}
	</div>
{% else %}
	<h2>No documents.</h2>
{% endif %}
{% endblock content %}

{% block jsfooter %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
jQuery(function($) {

    $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
    
    function updateContent(){
        $.post(".", function(data) {
            $("#datatable").html(data.datatable);
            $("#count").html(data.count);
        }, 'json');
    }
    
    window.setInterval(updateContent, 2000);
});
</script>
{% endblock jsfooter %}