{% extends "mongobrowser/base.html" %}

{% block title %}MongoBrowser{% endblock title %}

{% block header %}
<h1>MongoBrowser at {{ host }}</h1>	
{% endblock header %}

{% block content %}
<h2>Databases ({{ databases|length }})</h2>


{% for database,stats in databases %}
	<h3><a href="{{ database }}/">{{ database }}</a></h3>
	
	<ul>
		<li>{{ stats.collections }} collection{{ stats.collections|pluralize }}</li>
		<li>{{ stats.objects }} document{{ stats.objects|pluralize }}</li>
	</ul>
{% empty %}
	<p>No databases.</p>
{% endfor %}
{% endblock content %}