{% load startswith %}
{% for key,value in document.iteritems %}
{% ifnotstartswith key "_" %}
<tr>
    <td class="key">
        {{ key }}
    </td>
    <td>
		{% if key in "url,referer" %}
        {{ value|urlizetrunc:"150" }}
		{% else %}
            {% if key in "timestamp,pub_date" %}
            {{ value|timesince }} ( {{ value|date:"j.n.Y H:i" }} )
    		{% else %}
            {{ value }}
    		{% endif %}		
		{% endif %}
    </td>
</tr>        
{% endifnotstartswith %}
{% endfor %}
